 .u-section-1 {
  background-position: 1.84% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 497px;
  margin: 329px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-video-1 {
    margin-top: 696px;
    margin-bottom: -318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 781px;
    margin-bottom: -276px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 744px;
    margin-bottom: -255px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 1.84% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 317px;
    margin-top: 249px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 27px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 14px;
  }
} .u-section-3 {
  background-image: url("images/2nd-sectionc.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1615px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 446px;
  min-height: 567px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/2nd-sectionc.jpg");
  background-size: cover;
  margin: 102px 62px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  width: 283px;
  height: 252px;
  margin: 30px 70px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 260px;
  height: 190px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-shadow: -6px 8px 2px rgba(0,0,0,1);
  margin: -534px 601px 0 47px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 92px 586px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  margin: 12px 610px 0 38px;
}

.u-section-3 .u-text-4 {
  margin: 12px 648px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px 586px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 9px 610px 0 38px;
}

.u-section-3 .u-text-7 {
  margin: 10px 648px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 47px 570px 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 617px 0 31px;
}

.u-section-3 .u-text-10 {
  margin: 25px 648px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: 19px 102px 60px 126px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 30.08% 50%, 30.08% 50%;
    background-size: cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 386px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 448px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 386px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 448px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 370px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 448px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 2px;
    margin-left: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 166px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 166px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 150px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 48px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-right: 48px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.1111111111111112rem;
    margin-right: 48px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1823px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 0%;
    background-size: 250%;
    width: 272px;
    min-height: 386px;
    margin-top: 1337px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 170px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    width: 170px;
    margin-top: -80px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: 231px;
    margin-top: -1677px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 31px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 22px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 15px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 23px;
    margin-left: -54px;
    margin-right: -54px;
  }
}

.u-block-36b8-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-36b8-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-36b8-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-36b8-15 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-block-36b8-15.u-block-36b8-15.u-block-36b8-15:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-block-36b8-15 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-block-36b8-15.u-block-36b8-15.u-block-36b8-15.hover {
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
} .u-section-4 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(66, 84, 101, 0.6), rgba(66, 84, 101, 0.6)), url('images/B4.jpg');
  background-size: cover, cover;
  min-height: 1264px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1162px;
  margin: 97px 0 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 1006px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/hallooou_template-iphone_white.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 22px 30px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1006px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-calendar-1 {
  width: 506px;
  --radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  --num-padding-vertical: 18px;
  --num-hover-color: #77aad9;
  --num-text-hover-default-color: #ffffff;
  --num-active-color: #478ac9;
  --num-text-active-default-color: #ffffff;
  --num-color: #ffffff;
  --num-text-default-color: #111111;
  --num-border-active-color: #ffffff;
  --num-border-current-color: #ffffff;
  --days-padding-vertical: 12px;
  --days-font-size: 14px;
  --days-text-transform: uppercase;
  --year-month-font-size: 21px;
  --year-month-font-weight: 700;
  --year-month-bold: bold;
  --year-month-text-color: #292e33;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-border-hover-color: #ffffff;
  --num-border-style: solid;
  --num-border-color: #ffffff;
  --num-border: 2px;
  --num-current-color: #478ac9;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-border-radius: 100px;
  --num-font-size: 17px;
  --days-text-color: #478ac9;
  --days-bold: bold;
  background-image: none;
  --days-letter-spacing: 1px;
  --num-text-hover-color: #ffffff;
  margin: 289px auto 0;
  padding: 36px 30px;
}

.u-section-4 .u-calendar-time-slot-1 {
  font-weight: 700;
  border-style: solid;
  --radius: 10px;
  padding: 8px 20px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 0px;
  font-weight: 500;
  --radius: 5px;
  margin: 14px auto 60px calc(((100% - 1140px) / 2)  + 211px);
  padding: 20px 58px 21px 57px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 850px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 814px;
  }

  .u-section-4 .u-calendar-1 {
    --num-padding-vertical: 13px;
    --num-font-size: 15px;
    --year-month-border-style: solid;
    --year-month-border-color: #478ac9;
    --year-month-border: 2px;
    --year-month-border-left: 0;
    --year-month-border-top: 0;
    --year-month-border-right: 0;
    --days-border-style: solid;
    --days-border: 2px;
    --days-border-left: 0;
    --days-border-top: 0;
    --days-border-right: 0;
    --days-border-color: #478ac9;
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 50% 50%, 74.32% 50%;
    min-height: 136px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-calendar-1 {
    width: 550px;
    --num-padding-vertical: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-calendar-1 {
    width: 530px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1365px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 84px;
    margin-right: calc(((100% - 340px) / 2)  + -12px);
  }

  .u-section-4 .u-image-1 {
    min-height: 574px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 437px;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1033px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-calendar-1 {
    width: 340px;
    --num-padding-vertical: 11px;
    --days-font-size: 11px;
    --num-font-size: 13px;
    margin-top: 35px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -499px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 721px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  font-style: italic;
  margin: 60px auto 0;
}

.u-section-5 .u-slider-1 {
  min-height: 464px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px 10px;
}

.u-section-5 .u-image-1 {
  width: 764px;
  height: 383px;
  margin: 11px auto 0 93px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-image-2 {
  width: 727px;
  height: 354px;
  margin: 34px 149px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-5 .u-image-3 {
  width: 714px;
  height: 348px;
  margin: 0 auto;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: 76px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 375px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 660px;
    height: 331px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 660px;
    height: 321px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 660px;
    height: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 261px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 520px;
    height: 253px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 520px;
    height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 313px;
    margin-top: -33px;
    margin-bottom: 59px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 161px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 156px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 156px;
    width: 320px;
    margin-top: 84px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 869px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 95px 428px 0 450px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 238px;
  margin-bottom: 51px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
  min-height: 443px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/0d7fafa2-0507-4a29-a6a0-62311b84a9cc1.jpg");
  background-position: 50% 26.76%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/02bd9db9-bd9a-49ec-a407-509500f2e477.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 28px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/6d78c4a8-5933-4224-a14c-6c85760420ea.jpg");
  background-position: 50% 0%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 28px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 328px;
    margin-left: 350px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-6 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-6 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-6 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 218px;
    margin-left: 240px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: 128px;
    margin-left: 150px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 28px;
    margin-left: 50px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 680px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: -2px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-map-1 {
  width: 369px;
  height: 649px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 3px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 370px;
  left: 0;
  right: auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 652px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 7px 40px 0;
}

.u-section-7 .u-list-1 {
  margin: 21px 40px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 380px;
  --gap: 0px;
  grid-auto-columns: 100%;
}

.u-section-7 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-7 .u-icon-1 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-7 .u-icon-3 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-7 .u-icon-4 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-7 .u-btn-2 {
  letter-spacing: 1px;
  padding: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 652px;
}

.u-section-7 .u-container-layout-6 {
  padding: 22px 0;
}

.u-section-7 .u-text-8 {
  font-size: 3rem;
  margin: 0 90px 0 30px;
}

.u-section-7 .u-form-1 {
  height: 464px;
  width: 350px;
  margin: 21px 0 0 30px;
}

.u-section-7 .u-input-1 {
  height: 55px;
  background-image: none;
}

.u-section-7 .u-input-2 {
  height: 55px;
  background-image: none;
}

.u-section-7 .u-input-3 {
  background-image: none;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-7 .u-map-1 {
    width: 313px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-7 .u-form-1 {
    width: 313px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 927px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.875rem;
  }
}

.u-block-5641-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-5641-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5641-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5641-10.u-block-5641-10.u-block-5641-10:hover:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-5641-10.u-block-5641-10.u-block-5641-10.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-7 .u-map-1,
.u-section-7 .u-map-1:before,
.u-section-7 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-map-1.u-map-1.u-map-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-7 .u-map-1.u-map-1.u-map-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}0
